*{
    margin: 0;
    padding: 0;
}


.game-list-container div{
    display: flex;
    align-items: center;
    padding: 20px 25px;
    width: 100%;
}

.game-list-container div:hover{
    color: pink;
    border: 1px solid pink;
    border-radius: 50px;
}

.game-list-container div img{
    margin-right: 16px;
}
.game-list-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 240px;
    gap: 37px;
    /* width: 100%; */
}
/* footer */
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.goals{
    display: flex;
}
